<nav class="pagination paging" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">Previous</a>
    {{/if}}
   <span class="page-number">Showing page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">Next</a>
    {{/if}}
</nav>